<h1 appRenklendir="red" bgColor="orange" color="#fff">Directive</h1>

<h1>Routing Directive</h1>
<br>
<br>
<a appMyRouting="c1">C1 Component</a> || <a appMyRouting="c2">C2 Component</a> || <a appMyRouting="c3">C3 Component</a>
<router-outlet></router-outlet>
<br>
<br>
<h1>Validation Directive</h1>
<div class="col-md-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input appValidation [appValid]="first.valid" formControlName="first" class="form-control" placeholder="First name">
    <div *ngIf="first.valid" class="valid-feedback">
      Looks good!
    </div>
    <div *ngIf="first.invalid" class="invalid-feedback">
      
      Please provide a valid first name.
    </div>
    <input appValidation [appValid]="last.valid" formControlName="last" class="form-control" placeholder="Last name">
    <div *ngIf="last.valid" class="valid-feedback">
      Looks good!
    </div>
    <div *ngIf="last.invalid" class="invalid-feedback">
      Please provide a valid last name.
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
<br>
<br>
<h1>Structural Directive</h1>
<h2 *simpleIf="result">Result</h2>
<h2 *simpleIf="!result">None Result</h2>
<button (click)="result = !result">Tıkla</button>